<div class="container mt-5">
  <div class="container">
    <h2 class="text-dark text-center">Dijabet dnevnik</h2>
    <table class="table" style="border: 1px solid #428bca; border-radius: 5px;">
      <thead>
      <tr>
        <th class="text-center text-info" colspan="4" style="border: 1px solid #428bca">Insulin</th>
        <th class="text-center text-success" colspan="3" style="border: 1px solid #5cb85c">Glikemija</th>
      </tr>
      <tr class="text-center">
        <th class="text-info" style="border: 1px solid #428bca">Vrsta insulina</th>
        <th class="text-info" style="border: 1px solid #428bca">Datum</th>
        <th class="text-info" style="border: 1px solid #428bca">Vreme</th>
        <th class="text-info" style="border: 1px solid #428bca">Vrednost insulina</th>
        <th class="text-success" style="border: 1px solid #5cb85c">Datum</th>
        <th class="text-success" style="border: 1px solid #5cb85c">Vreme</th>
        <th class="text-success" style="border: 1px solid #5cb85c">Vrednost glikemija</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" *ngFor="let zapis of dnevnik">
        <td class="text-info" style="border: 1px solid #428bca">{{zapis.vrstaInsulina}}</td>
        <td class="text-info" style="border: 1px solid #428bca">{{zapis.datumUnosaInsulina}}</td>
        <td class="text-info" style="border: 1px solid #428bca">{{zapis.vremeUnosaInsulina}}</td>
        <td class="text-info" style="border: 1px solid #428bca">{{zapis.vrednostInsulina}}</td>
        <td class="text-success" style="border: 1px solid #5cb85c">{{zapis.datumUnosaGlikemije}}</td>
        <td class="text-success" style="border: 1px solid #5cb85c">{{zapis.vremeUnosaGlikemije}}</td>
        <td class="text-success" style="border: 1px solid #5cb85c">{{zapis.vrednostGlikemije}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--<div class="container">-->
  <!--<h2 class="text-info text-center mt-5">Dnevnik glikemije</h2>-->
  <!--<table class="table" style="border: 1px solid #428bca; border-radius: 5px;">-->
  <!--<thead>-->
  <!--<tr>-->
  <!--<th>Datum</th>-->
  <!--<th>Vreme</th>-->
  <!--<th>Vrednost glikemija</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor="let zapis of dnevnik">-->
  <!--<td>{{zapis.datumUnosaGlikemije}}</td>-->
  <!--<td>{{zapis.vremeUnosaGlikemije}}</td>-->
  <!--<td>{{zapis.vrednostGlikemije}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->
  <!--</div>-->
</div>
