<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2" style="border-radius: 5px;">
  <a class="navbar-brand" routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item" *ngIf="isAuth"> <!--U zavisnosti od vrednosti isAuth(true ili false), prikazace se ova opcija u navbaru-->
        <a class="nav-link" routerLink="/addroom" routerLinkActive="active">Add room</a>
      </li>
      <li class="nav-item" *ngIf="isAuth">
        <a class="nav-link" routerLink="/allrooms" routerLinkActive="active">All rooms</a>
      </li>
      <li class="nav-item" *ngIf="isAuth">
        <a class="nav-link" routerLink="/addroomtype" routerLinkActive="active">Add room type</a>
      </li>
      <li class="nav-item" *ngIf="!isAuth">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isAuth">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item" *ngIf="isAuth">
        <a class="nav-link" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
